services:
  caddy:
    image: caddy:2
    volumes:
      - ./caddy/Caddyfile:/etc/caddy/Caddyfile:z
      - ./caddy/data:/data:z
      - ./caddy/config:/config:z
    network_mode: "host"

  mediawiki:
    image: mediawiki:{{ mw_version }}
    hostname: mediawiki
    command: >
      bash -c "a2enmod rewrite && a2enmod remoteip && a2enconf mediawiki && apache2-foreground"
    volumes:
      - ./apache2/ports.conf:/etc/apache2/ports.conf:z
      - ./apache2/mediawiki.conf:/etc/apache2/conf-available/mediawiki.conf:z
      - ./apache2/000-default.conf:/etc/apache2/sites-available/000-default.conf:z
      - ./mediawiki/cache:/cache:z
      - ./mediawiki/images:/var/www/html/images:z
      - ./mediawiki/LocalSettings.php:/var/www/html/LocalSettings.php:z
      - ./mediawiki/LocalSettings_overrides.php:/var/www/html/LocalSettings_overrides.php:z
    network_mode: "host"
    environment:
      MW_DBTYPE: ${MW_DB_TYPE}
      MW_DBHOST: ${MW_DB_HOST}
      MW_DBNAME: ${DB_NAME_WIKI1}
      MW_DBUSER: ${DB_USER}
      MW_DBPASS: ${DB_PASSWORD}
    depends_on:
      - mariadb

  mariadb:
    image: mariadb:{{ mariadb_version }}
    container_name: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      # creates wiki1 automatically, add others manually later
      MYSQL_DATABASE: ${DB_NAME_WIKI1}
    volumes:
      - ./mariadb/data:/var/lib/mysql:z
    ports:
      - "127.0.0.1:3306:3306"
